* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.maindiv {
    width: 400px;
    height: fit-content;
    /* border: 1px solid black; */
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    background-image: linear-gradient(rgb(207, 69, 69), rgb(177, 177, 251), white);
}

.maindiv div {

    display: flex;
    flex-direction: column;
}

.maindiv div label {
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
}

.maindiv div input {
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 0px;
}

.maindiv button {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    background-color: aliceblue;
    border: 0px;

}
.maindiv button:active{
    background-image: radial-gradient(white,black);
    transition: all 0.2s;
    border: 2px dotted green;
}
#showbarcode{
    width: 400px;
    height: fit-content;    
    margin: auto;
    margin-top: 20px;
    padding-left: 10%;    
    display: none;
}