<nav>
    <span id="menubtn">&#9776;</span>
    <div>
        <h1 id="companyname">Product Seller</h1>
    </div>
</nav>
<section id="slidebar">
        <span>&#10006;</span>
        <div>
            <ul class="listdata">
                <li>Home</li>
                <li>
                    <b id="productbtn">Products</b>
                    <ul id="doblelist">
                        <li>Cars</li>
                        <li>Bike</li>
                        <li>Plot</li>
                    </ul>
                </li>
                <li>About us</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </div>
    </section>