* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
    width: 100%;
}

.userdata {
    width: 500px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: white;
    overflow-y: scroll;
}

.userDiv {
    width: 100%;
    border: 1px solid black;
    margin: 10px 0px;
    text-align: center;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userDiv label {
    font-size: large;
}

@media screen and (max-width:567px) {
    .userdata {
        width: 100%;

    }
}